.mainContainer {
  cursor: pointer;
  flex: 1;
}
.innerContainer {
  padding: 10px 0px 15px 0px;
  margin: 0px 10px 0px 10px;
  border-bottom: 1px groove #f9f9f9;
  display: grid;
  grid-auto-flow: column;
}
.exchangeName {
  font-size: 0.7em;
  color: #6a6d70;
  margin: 0px;
  justify-self: end;
  align-self: flex-end;
}
.stockName {
  font-size: 0.7em;
  color: black;
  margin: 0px;
}
.tickerSymbol {
  font-size: 1.5em;
  color: #5a7da0;
  margin-top: 0px;
  margin-bottom: 10px;
}