.mainContainer {
  border-width: 0 0.05px;
  border-top: groove #c3c5c6;
  border-bottom: groove #c3c5c6;;
  cursor: pointer;
  flex: 1;
}
.innerContainer {
  margin: 10px 10px 10px 10px;
  display: grid;
  grid-auto-flow: column;
}
.exchangeName {
  font-size: 0.7em;
  color: #6a6d70;
  padding: 0px;
  margin: 0px;
  right: 0px;
  justify-self: end;
  align-self: flex-end;
}
.stockName {
  font-size: 0.7em;
  color: black;
  padding: 0px;
  margin: 0px;
  margin-top: 0.1px;
}
.tickerSymbol {
  padding: 0px;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #5a7da0;
}